{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block head %}
  {{ super() }}  {# keeps base header content, optional #}
{% endblock %}

{% block sidebar %}
    <nav>
        <nav>
            <a class="nav-item" href="{{ url_for('overview') }}">
              <img src="{{ url_for('static', filename='img/overview.png') }}" alt="Overview logo" class="nav-icon">
              Overview
            </a>
            <a class="nav-item" href="{{ url_for('servers') }}">
              <img src="{{ url_for('static', filename='img/server.png') }}" alt="Servers logo" class="nav-icon">
              Servers
            </a>
            <a class="nav-item active" href="{{ url_for('history') }}">
              <img src="{{ url_for('static', filename='img/history.png') }}" alt="History logo" class="nav-icon">
              History
            </a>
            <a class="nav-item" href="{{ url_for('users') }}">
              <img src="{{ url_for('static', filename='img/user.png') }}" alt="User logo" class="nav-icon">
              Users
            </a>
            <a class="nav-item" href="{{ url_for('docker') }}">
              <img src="{{ url_for('static', filename='img/docker.png') }}" alt="Docker logo" class="nav-icon">
              Docker
            </a>
         
        </nav>
    </nav>
{% endblock %}

{% block header %}
    <div class="title">Compute Ressources : History</div>
{% endblock %}


{% block content %}
    <div class="row">
        <label>Range:
        <select id="range">
            <option value="intraday">Intraday</option>
            <option value="last_week">Last week</option>
            <option value="last_month">Last month</option>
            <option value="last_year">Last year</option>
            <option value="all">All</option>
            <option value="custom">Custom…</option>
        </select>
        </label>
        <span id="custom" class="row">
        <label>Start <input id="start" type="datetime-local"></label>
        <label>End <input id="end" type="datetime-local"></label>
        </span>
        <button id="load">Load</button>
    </div>
    <div class="muted">Custom times are interpreted as Europe/Berlin.</div>
    
    <!-- View switch -->
    <label class="switch" title="Toggle chart/table">
      <input id="toggleView" type="checkbox">
      <span class="slider round"></span>
    </label>
    <span style="margin-left:8px"><span id="viewLabel">Table view</span></span>

     <table id="tbl">
        <thead>
        <tr>
            <th>server_id</th><th>ts</th><th>up</th><th>cpu%</th><th>mem</th><th>disk</th><th>gpu%</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>



{% endblock %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/history.js') }}"></script>

{% endblock %}
